.wrapper-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 24px
}

.card-product-main {
	overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
	margin: 6px;
	width: 100%;

	.img-main {
		height: auto;
		width: 120px;
		object-fit: cover;
		padding-right: 16px;
	}

	.title-main {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 16px;
	}
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
	margin: 6px;
	border-radius: 12px;
	width: 100%;
}

 // colores box-shadows //
.box-dev {
	-webkit-box-shadow: 0px 3px 2px 0px rgba(144,167,176,1);
	-moz-box-shadow: 0px 3px 2px 0px rgba(144,167,176,1);
	box-shadow: 0px 3px 2px 0px rgba(144,167,176,1);
}

.box-back {
	-webkit-box-shadow: 0px 3px 2px 0px rgba(0,208,217,1);
	-moz-box-shadow: 0px 3px 2px 0px rgba(0,208,217,1);
	box-shadow: 0px 3px 2px 0px rgba(0,208,217,1);
}

.box-leader {
	-webkit-box-shadow: 0px 3px 2px 0px rgba(172,106,207,1);
	-moz-box-shadow: 0px 3px 2px 0px rgba(172,106,207,1);
	box-shadow: 0px 3px 2px 0px rgba(172,106,207,1);
}

.box-design {
	-webkit-box-shadow: 0px 3px 2px 0px rgba(244,225,141,1);
	-moz-box-shadow: 0px 3px 2px 0px rgba(244,225,141,1);
	box-shadow: 0px 3px 2px 0px rgba(244,225,141,1);
}

.box-soft {
	-webkit-box-shadow: 0px 3px 2px 0px rgba(195,174,170,1);
	-moz-box-shadow: 0px 3px 2px 0px rgba(195,174,170,1);
	box-shadow: 0px 3px 2px 0px rgba(195,174,170,1);
}
// fin colores box-shadows //

// .card-product img {
//   height: 90px;
//   width: 90px;
//   object-fit: cover;
// 	border-radius: 50%;
// 	padding-left: 16px;
// }

.card-product p {
	font-weight: bold;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 6px;
}

.card-product .card-product-infos {
  padding: 16px;
	width: 100%;
}

.card-product-info-title {
	display: flex;
	justify-content: space-between;
}

.height {
	&.mat-progress-bar {
    height: 8.5px;
  }
}

.mat-progress-bar {
	border-radius: 4px;
}

// colores progress-bar//
.development {
	.mat-progress-bar-fill::after {
    background-color: #90a7b0;
	}
}

.backend {
	.mat-progress-bar-fill::after {
    background-color: #00d0d9;
	}
}

.leadership {
	.mat-progress-bar-fill::after {
    background-color: #ac6acf;
	}
}

.design {
	.mat-progress-bar-fill::after {
    background-color: #f4e18d;
	}
}

.software {
	.mat-progress-bar-fill::after {
    background-color: #c3aeaa;
	}
}
// fin colores progress-bar//

// estilos imagenes //
.wrapper-img-develop {
	position: relative	;
	display: flex;
	background-color: #90a7b0;
	border-radius: 50%;
	margin-left: 16px;

	.img-develop {
		height: 80px;
		width: auto;
		filter: invert(1);
	}
}
.wrapper-img-backend {
	position: relative	;
	display: flex;
	background-color: #00d0d9;
	border-radius: 50%;
	margin-left: 16px;

	.img-backend {
		height: 80px;
		width: auto;
		filter: invert(1);
	}
}
.wrapper-img-leadership {
	position: relative	;
	display: flex;
	background-color: #ac6acf;
	border-radius: 50%;
	margin-left: 16px;

	.img-leadership {
		height: 80px;
		width: auto;
		filter: invert(1);
	}
}
.wrapper-img-design {
	position: relative	;
	display: flex;
	background-color: #f4e18d;
	border-radius: 50%;
	margin-left: 16px;

	.img-design {
		height: 80px;
		width: auto;
		filter: invert(1);
	}
}
.wrapper-img-software {
	position: relative	;
	display: flex;
	background-color: #c3aeaa;
	border-radius: 50%;
	margin-left: 16px;

	.img-software {
		height: 80px;
		width: auto;
		filter: invert(1);
	}
}
// fin estilos imagenes //