<div class="layout-container">
	<div class="wrapper-cards">
		<div class="card-product-main" (click)="justClicked('profile')">
			<img [src]="data.profilePic" alt="foto de perfil" class="img-main"/>
			<div class="title-main">
				<h2>{{data.name}}</h2>
				<p>{{data.profession}}</p>
			</div>
		</div>
		<div class="card-product box-dev" (click)="justClicked('frontend')">
			<div class="wrapper-img-develop">
				<img class="img-develop" [src]="data.generalSkills.data[0][0].icon" alt="develop skill"/>
			</div>
			<div class="card-product-infos">
				<div class="card-product-info-title">
					<p>{{data.generalSkills.data[0][0].axis}}</p>
					<p>{{data.generalSkills.data[0][0].value | percent}}</p>
				</div>
				<mat-progress-bar mode="determinate" class="height development" [value]="data.generalSkills.data[0][0].value * 100"></mat-progress-bar>
			</div>
		</div>
		<div class="card-product box-back" (click)="justClicked('backend')">
			<div class="wrapper-img-backend">
				<img class="img-backend" [src]="data.generalSkills.data[0][1].icon" alt="backend skill"/>
			</div>
			<div class="card-product-infos">
				<div class="card-product-info-title">
					<p>{{data.generalSkills.data[0][1].axis}}</p>
					<p>{{data.generalSkills.data[0][1].value | percent}}</p>
				</div>
				<mat-progress-bar mode="determinate" class="height backend" [value]="data.generalSkills.data[0][1].value * 100"></mat-progress-bar>
			</div>
		</div>
		<div class="card-product box-leader" (click)="justClicked('leadership')">
			<div class="wrapper-img-leadership">
				<img class="img-leadership" [src]="data.generalSkills.data[0][2].icon" alt="leadership skill"/>
			</div>
			<div class="card-product-infos">
				<div class="card-product-info-title">
					<p>{{data.generalSkills.data[0][2].axis}}</p>
					<p>{{data.generalSkills.data[0][2].value | percent}}</p>
				</div>
				<mat-progress-bar mode="determinate" class="height leadership" [value]="data.generalSkills.data[0][2].value * 100"></mat-progress-bar>
			</div>
		</div>
		<div class="card-product box-design" (click)="justClicked('design')">
			<div class="wrapper-img-design">
				<img class="img-design" [src]="data.generalSkills.data[0][3].icon" alt="design skill"/>
			</div>
			<div class="card-product-infos">
				<div class="card-product-info-title">
					<p>{{data.generalSkills.data[0][3].axis}}</p>
					<p>{{data.generalSkills.data[0][3].value | percent}}</p>
				</div>
				<mat-progress-bar mode="determinate" class="height design" [value]="data.generalSkills.data[0][3].value * 100"></mat-progress-bar>
			</div>
		</div>
		<div class="card-product box-soft" (click)="redirectToFinal()">
			<div class="wrapper-img-software">
				<img class="img-software" [src]="data.generalSkills.data[0][4].icon" alt="software skill"/>
			</div>
			<div class="card-product-infos">
				<div class="card-product-info-title">
					<p>{{data.generalSkills.data[0][4].axis}}</p>
					<p>{{data.generalSkills.data[0][4].value | percent}}</p>
				</div>
				<mat-progress-bar mode="determinate" class="height software" [value]="data.generalSkills.data[0][4].value * 100"></mat-progress-bar>
			</div>
		</div>
	</div>
</div>