<div class="layout-container">
	<div class="wrapper-cards">
		<div class="card-product-main">
			<img src="assets/img/avatar-profile.png" alt="foto de perfil" class="img-main"/>
			<div class="title-main">
				<h2>Sofia Gonzales</h2>
				<p>Frontend Developer</p>
			</div>
		</div>
		<div class="card-product box-dev">
			<img src="assets/img/avatar-profile.png" alt="foto de perfil"/>
			<div class="card-product-infos">
				<div class="card-product-info-title">
					<p>Frontend Development</p>
					<p>70%</p>
				</div>
				<mat-progress-bar mode="determinate" class="height development" value="70"></mat-progress-bar>
			</div>
		</div>
		<div class="card-product box-back">
			<img src="assets/img/avatar-profile.png" alt="foto de perfil"/>
			<div class="card-product-infos">
				<div class="card-product-info-title">
					<p>Backend Development</p>
					<p>27%</p>
				</div>
				<mat-progress-bar mode="determinate" class="height backend" value="27"></mat-progress-bar>
			</div>
		</div>
		<div class="card-product box-leader">
			<img src="assets/img/avatar-profile.png" alt="foto de perfil"/>
			<div class="card-product-infos">
				<div class="card-product-info-title">
					<p>Leadership</p>
					<p>2%</p>
				</div>
				<mat-progress-bar mode="determinate" class="height leadership" value="2"></mat-progress-bar>
			</div>
		</div>
		<div class="card-product box-design">
			<img src="assets/img/avatar-profile.png" alt="foto de perfil"/>
			<div class="card-product-infos">
				<div class="card-product-info-title">
					<p>Design</p>
					<p>22%</p>
				</div>
				<mat-progress-bar mode="determinate" class="height design" value="22"></mat-progress-bar>
			</div>
		</div>
		<div class="card-product box-soft">
			<img src="assets/img/avatar-profile.png" alt="foto de perfil"/>
			<div class="card-product-infos">
				<div class="card-product-info-title">
					<p>Software Architecture</p>
					<p>15%</p>
				</div>
				<mat-progress-bar mode="determinate" class="height software" value="15"></mat-progress-bar>
			</div>
		</div>
	</div>
</div>