mat-card {
	display: flex;
	.general-skills {
		flex-grow: 1;
		border-right: 1px solid grey;
		.main-title {
			font-weight: 500;
	    font-size: x-large;
	    color: #585858;
		}
		.second-title {
			color: #828282;
		}
		.big-number {
			font-size: xx-large;
			font-weight: bold;
			color: #0B1354;
		}
	}
	.specific-skills {
		flex-grow: 2;
	}
}
