<div class="layout-container">
	<mat-card>
		<div class="general-skills">
			<h2 class="main-title">SKILL COMPOSITION</h2>
			<div>
				<h5 class="second-title">PRIMARY TEXT</h5>
				<span class="big-number">5.876,7</span>
			</div>
  		<div>
  			<app-skills-chart></app-skills-chart>
			</div>
		</div>

		<div class="specific-skills">
			<h2 class="main-title">CAREER PATH</h2>
			

			<div class="main-skill-container">
				<div class="ss-header">
					<h5 class="second-title">Frontend development</h5>
					<mat-icon
						(click)="changeGraphData()"
						aria-hidden="false"
						aria-label="Example home icon"
						fontIcon="zoom_in">
						zoom_in		
					</mat-icon>
				</div>
				<div class="bars-container">
					<div class="progress-container">
						<div class="skill-name">
							HTML
						</div>
						<mat-progress-bar
							mode="determinate" value="72"
							class="barra">		
						</mat-progress-bar>
						<div>
							72%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							CSS
						</div>
						<mat-progress-bar mode="determinate" value="31"></mat-progress-bar>
						<div>
							31%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Javascript
						</div>
						<mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
						<div>
							45%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							React
						</div>
						<mat-progress-bar mode="determinate" value="21"></mat-progress-bar>
						<div>
							21%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Angular
						</div>
						<mat-progress-bar mode="determinate" value="3"></mat-progress-bar>
						<div>
							3%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Sass
						</div>
						<mat-progress-bar mode="determinate" value="98"></mat-progress-bar>
						<div>
							98%
						</div>
					</div>
				</div>
			</div>


			<div class="main-skill-container">
				<div class="ss-header">
					<h5 class="second-title">Frontend development</h5>
					<mat-icon
						(click)="changeGraphData()"
						aria-hidden="false"
						aria-label="Example home icon"
						fontIcon="zoom_in">
						zoom_in		
					</mat-icon>
				</div>
				<div class="bars-container">
					<div class="progress-container">
						<div class="skill-name">
							HTML
						</div>
						<mat-progress-bar mode="determinate" value="72"></mat-progress-bar>
						<div>
							72%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							CSS
						</div>
						<mat-progress-bar mode="determinate" value="31"></mat-progress-bar>
						<div>
							31%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Javascript
						</div>
						<mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
						<div>
							45%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							React
						</div>
						<mat-progress-bar mode="determinate" value="21"></mat-progress-bar>
						<div>
							21%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Angular
						</div>
						<mat-progress-bar mode="determinate" value="3"></mat-progress-bar>
						<div>
							3%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Sass
						</div>
						<mat-progress-bar mode="determinate" value="98"></mat-progress-bar>
						<div>
							98%
						</div>
					</div>
				</div>
			</div>


			<div class="main-skill-container">
				<div class="ss-header">
					<h5 class="second-title">Frontend development</h5>
					<mat-icon
						(click)="changeGraphData()"
						aria-hidden="false"
						aria-label="Example home icon"
						fontIcon="zoom_in">
						zoom_in		
					</mat-icon>
				</div>
				<div class="bars-container">
					<div class="progress-container">
						<div class="skill-name">
							HTML
						</div>
						<mat-progress-bar mode="determinate" value="72"></mat-progress-bar>
						<div>
							72%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							CSS
						</div>
						<mat-progress-bar mode="determinate" value="31"></mat-progress-bar>
						<div>
							31%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Javascript
						</div>
						<mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
						<div>
							45%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							React
						</div>
						<mat-progress-bar mode="determinate" value="21"></mat-progress-bar>
						<div>
							21%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Angular
						</div>
						<mat-progress-bar mode="determinate" value="3"></mat-progress-bar>
						<div>
							3%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Sass
						</div>
						<mat-progress-bar mode="determinate" value="98"></mat-progress-bar>
						<div>
							98%
						</div>
					</div>
				</div>
			</div>


			<div class="main-skill-container">
				<div class="ss-header">
					<h5 class="second-title">Frontend development</h5>
					<mat-icon
						(click)="changeGraphData()"
						aria-hidden="false"
						aria-label="Example home icon"
						fontIcon="zoom_in">
						zoom_in		
					</mat-icon>
				</div>
				<div class="bars-container">
					<div class="progress-container">
						<div class="skill-name">
							HTML
						</div>
						<mat-progress-bar mode="determinate" value="72"></mat-progress-bar>
						<div>
							72%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							CSS
						</div>
						<mat-progress-bar mode="determinate" value="31"></mat-progress-bar>
						<div>
							31%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Javascript
						</div>
						<mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
						<div>
							45%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							React
						</div>
						<mat-progress-bar mode="determinate" value="21"></mat-progress-bar>
						<div>
							21%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Angular
						</div>
						<mat-progress-bar mode="determinate" value="3"></mat-progress-bar>
						<div>
							3%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Sass
						</div>
						<mat-progress-bar mode="determinate" value="98"></mat-progress-bar>
						<div>
							98%
						</div>
					</div>
				</div>
			</div>


			<div class="main-skill-container">
				<div class="ss-header">
					<h5 class="second-title">Frontend development</h5>
					<mat-icon
						(click)="changeGraphData()"
						aria-hidden="false"
						aria-label="Example home icon"
						fontIcon="zoom_in">
						zoom_in		
					</mat-icon>
				</div>
				<div class="bars-container">
					<div class="progress-container">
						<div class="skill-name">
							HTML
						</div>
						<mat-progress-bar mode="determinate" value="72"></mat-progress-bar>
						<div>
							72%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							CSS
						</div>
						<mat-progress-bar mode="determinate" value="31"></mat-progress-bar>
						<div>
							31%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Javascript
						</div>
						<mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
						<div>
							45%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							React
						</div>
						<mat-progress-bar mode="determinate" value="21"></mat-progress-bar>
						<div>
							21%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Angular
						</div>
						<mat-progress-bar mode="determinate" value="3"></mat-progress-bar>
						<div>
							3%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Sass
						</div>
						<mat-progress-bar mode="determinate" value="98"></mat-progress-bar>
						<div>
							98%
						</div>
					</div>
				</div>
			</div>


						<div class="main-skill-container">
				<div class="ss-header">
					<h5 class="second-title">Frontend development</h5>
					<mat-icon
						(click)="changeGraphData()"
						aria-hidden="false"
						aria-label="Example home icon"
						fontIcon="zoom_in">
						zoom_in		
					</mat-icon>
				</div>
				<div class="bars-container">
					<div class="progress-container">
						<div class="skill-name">
							HTML
						</div>
						<mat-progress-bar mode="determinate" value="72"></mat-progress-bar>
						<div>
							72%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							CSS
						</div>
						<mat-progress-bar mode="determinate" value="31"></mat-progress-bar>
						<div>
							31%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Javascript
						</div>
						<mat-progress-bar mode="determinate" value="45"></mat-progress-bar>
						<div>
							45%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							React
						</div>
						<mat-progress-bar mode="determinate" value="21"></mat-progress-bar>
						<div>
							21%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Angular
						</div>
						<mat-progress-bar mode="determinate" value="3"></mat-progress-bar>
						<div>
							3%
						</div>
					</div>
					<div class="progress-container">
						<div class="skill-name">
							Sass
						</div>
						<mat-progress-bar mode="determinate" value="98"></mat-progress-bar>
						<div>
							98%
						</div>
					</div>
				</div>
			</div>
		</div>
	</mat-card>
</div>

