<div class="layout-container">
  <div class="wrapper-cards">
    <div class="cards">
      <div class="title-head">
        <img
          class="img-profile"
          src="assets/img/profile-alexis.jpeg"
          alt="develop"
        />
        <h5 class="text-info-head">Alexis Gonzales</h5>
      </div>
      <p class="text-info">
        Desarrollador Frontend en Mercantil Banco Universal.
        Actualmente desarrolla en Angular con Typescript y pertenece al Squad MELE (Mercantil en linea Empresas).
      </p>
    </div>
    <div class="cards">
      <div class="title-head">
        <img
          class="img-profile"
          src="assets/img/profile-alfredo.jpeg"
          alt="develop"
        />
        <h5 class="text-info-head">Alfredo Villegas</h5>
      </div>
      <p class="text-info">
        Desarrollador Inteligencia Artificial en Mercantil Banco Universal.
        Actualmente desarrolla en Django con Python y pertenece al Squad MIA (Mercantil Inteligencia Artifical).
      </p>
    </div>
    <div class="cards">
      <div class="title-head">
        <img
          class="img-profile"
          src="assets/img/profile-joan.jpg"
          alt="develop"
        />
        <h5 class="text-info-head">Joan Blanco</h5>
      </div>
      <p class="text-info">
        Desarrollador Frontend en Mercantil Banco Universal.
        Actualmente desarrolla en Angular con Typescript y pertenece al Squad MELP (Mercantil en linea Personas).
      </p>
    </div>
    <div class="cards">
      <div class="title-head">
        <img
          class="img-profile"
          src="assets/img/profile-yarelis.jpeg"
          alt="develop"
        />
        <h5 class="text-info-head">Yarelis</h5>
      </div>
      <p class="text-info">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis ullam
        possimus provident non, vero dolore officia nisi corrupti aliquid
        quaerat iste, iusto alias odio at minus ipsum fugiat exercitationem ad.
      </p>
    </div>
    <div class="cards">
      <div class="title-head">
        <img
          class="img-profile"
          src="assets/img/profile-4.jpg"
          alt="develop"
        />
        <h5 class="text-info-head">Otro</h5>
      </div>
      <p class="text-info">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis ullam
        possimus provident non, vero dolore officia nisi corrupti aliquid
        quaerat iste, iusto alias odio at minus ipsum fugiat exercitationem ad.
      </p>
    </div>
  </div>
</div>
