h1 {
  color: #585858;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.wrapper-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: 100%;
  margin-top: 30px;
  .cards {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    .title-head {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 6px 30px;
      position: relative;
      flex: 1;
      flex-direction: column;
      .img-profile {
        width: auto;
        height: 120px;
        border-radius: 8px;
      }
      .text-info-head {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 2px;
        word-wrap: break-word;
        position: relative;
        margin-top: 12px;
        color: #585858;
      }
    }
    .text-info {
      word-wrap: break-word;
      position: relative;
      text-align: center;
      color: #585858 !important;
    }
  }
}

h1 {
  text-align: center;
  margin-bottom: 36px;
  font-size: xx-large;
  font-weight: 500;
  color: #585858;
}
