<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      opened="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item routerLink="/landing"><mat-icon>home</mat-icon> <span class="ml-1">Landing</span></a> -->
      <a mat-list-item routerLink="/main-page"><mat-icon>dashboard</mat-icon> <span class="ml-1">Dashboard</span></a>
      <a mat-list-item routerLink="/profile-page"><mat-icon>account_circle</mat-icon> <span class="ml-1">Perfil Público</span></a>
      <a mat-list-item routerLink="/final"><mat-icon>favorite</mat-icon> <span class="ml-1">Final Inesperado</span></a>
      <a mat-list-item routerLink="/about-us"><mat-icon>info</mat-icon> <span class="ml-1">About Us</span></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="d-flex justify-content-between">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span class="example-spacer"></span> -->
      <span>El Templo de Atenea</span>
      <a routerLink="/profile-page" class="profile-button"><mat-icon>account_circle</mat-icon></a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div [ngClass]="{'layout-container': isLayoutOn}">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
