<div class="layout-container">
  <div class="profile-card">
    <div class="avatar-box">
      <img
        class="avatar"
        src="assets/img/profile-7.jpg"
        alt="Foto de perfil"
      />
    </div>

    <div class="user-group">
      <h1>Grecia Anastasia</h1>
      <p>Developer</p>
    </div>
  </div>

  <div class="wrapper-cards">
    <div class="cards">
      <div class="title-head">
        <img
          class="img-develop"
          src="assets/img/icon-develop.svg"
          alt="develop"
        />
        <h5 class="text-info-head">Frontend Developer</h5>
      </div>
      <p class="text-info">
        He trabajado en el Front con el Framework de Angular y manejo lenguajes como typescript y javascript con jQuery; demás de CSS y HTML.
      </p>
    </div>
    <div class="cards">
      <div class="title-head">
        <img
          class="img-develop"
          src="assets/img/icon-backend.svg"
          alt="develop"
        />
        <h5 class="text-info-head">Backend Developer</h5>
      </div>
      <p class="text-info">
        He desarrollado modelos de bases de datos, manejando SQL y active record en proyectos basados en ruby on rails, sinatra, django, flask, también se montar imágenes de aplicaciones en docker.
      </p>
    </div>
    <div class="cards">
      <div class="title-head">
        <img
          class="img-develop"
          src="assets/img/icon-leadership.svg"
          alt="develop"
        />
        <h5 class="text-info-head">Leadership</h5>
      </div>
      <p class="text-info">
        Me se manejar en metodologías ágiles como Scrum y Kanban, también he sido product owner en proyectos personales que han salido a la calle.
      </p>
    </div>
    <div class="cards">
      <div class="title-head">
        <img
          class="img-develop"
          src="assets/img/icon-design.svg"
          alt="develop"
        />
        <h5 class="text-info-head">Design</h5>
      </div>
      <p class="text-info">
        En diseño he aprendido a utilizar figma, adobe ilustrator, he diseñado logotipos previamente para startups sencillas y proyectos de voluntariado.
      </p>
    </div>
    <div class="cards">
      <div class="title-head">
        <img
          class="img-develop"
          src="assets/img/icon-software.svg"
          alt="develop"
        />
        <h5 class="text-info-head">Software Architecture</h5>
      </div>
      <p class="text-info">
        Desarrollo principalmente utilizando el Modelo-Vista-Controlador, en cuanto a control de versiones git, como líder técnico he aprobado pull request y resuelto conflictos entre ramas rápidamente.
      </p>
    </div>
  </div>
</div>
