.profile-card {
	width: 400px;
	height: auto;
	display: flex;
	background-color: transparent;


	.avatar-box {
		padding: 10px;
	}

	.user-group {
		display: flex;
		flex-direction: column;
		padding: 10px;
		justify-content: center;

	}

	.avatar {
	  height: 120px;
	  width: 120px;
	  border-radius: 50%;
	  border-color: white;
	  border-width: 5px;
	  border-style: solid;
	}

	h1 {
		margin: 0;
		padding: 10px;
		font-style: normal;
		font-weight: 600;
		font-size: 26px;
		/* Fonts Gray */
		color: #585858;
	}

	h2 {
	  color:rgb(0, 119, 119);
	  font-weight: bold;
	}

	p {
		margin: 0;
		padding: 10px;
		font-size: 16px;
	}

}

.wrapper-cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	width: 100%;
	.cards {
		display: flex;
		flex-direction: column;
		position: relative;
		text-align: left;
		.title-head {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 15px 30px;
			position: relative;
			flex: 1;
			.img-develop {
				width: 64px;
				height: 64px;
			}
			.text-info-head {
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 2px;
				word-wrap: break-word;
				position: relative;
			}
		}
		.text-info {
			word-wrap: break-word;
			position: relative;
			margin: 0 0 0 94px;
		}
	}
}
