<div class="layout-container">
	<div class="profile-card">
		<div class="avatar-box">
					<img class="avatar" src="assets/img/profile.jpeg" alt="Foto de perfil">
		</div>
	
		<div class="user-group">
			<h1>
				Grecia Anastasia
			</h1>
			<p>
				Frontend Developer
			</p>
		</div>
	</div>

	<div class="wrapper-cards">
		<div class="cards">
			<div class="title-head">
				<img class="img-develop" src="assets/img/icon-develop.svg" alt="develop">
				<h5 class="text-info-head">Frontend Developer</h5>
			</div>
			<p class="text-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis ullam possimus provident non, vero dolore officia nisi corrupti aliquid quaerat iste, iusto alias odio at minus ipsum fugiat exercitationem ad.</p>
		</div>
		<div class="cards">
			<div class="title-head">
				<img class="img-develop" src="assets/img/icon-backend.svg" alt="develop">
				<h5 class="text-info-head">Backend Developer</h5>
			</div>
			<p class="text-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis ullam possimus provident non, vero dolore officia nisi corrupti aliquid quaerat iste, iusto alias odio at minus ipsum fugiat exercitationem ad.</p>
		</div>
		<div class="cards">
			<div class="title-head">
				<img class="img-develop" src="assets/img/icon-leadership.svg" alt="develop">
				<h5 class="text-info-head">Leadership</h5>
			</div>
			<p class="text-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis ullam possimus provident non, vero dolore officia nisi corrupti aliquid quaerat iste, iusto alias odio at minus ipsum fugiat exercitationem ad.</p>
		</div>
		<div class="cards">
			<div class="title-head">
				<img class="img-develop" src="assets/img/icon-design.svg" alt="develop">
				<h5 class="text-info-head">Design</h5>
			</div>
			<p class="text-info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis ullam possimus provident non, vero dolore officia nisi corrupti aliquid quaerat iste, iusto alias odio at minus ipsum fugiat exercitationem ad.</p>
		</div>
	</div>
</div>
