<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar class="example-header-image" src="assets/img/pie-selfie.jpg" alt="Img Persona">
    <mat-card-title>Gresia Anastasia</mat-card-title>
    <mat-card-subtitle>Tomador de Selfies con los PIES</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/pie-selfie.jpg" alt="Selfie con Pie">
  <mat-card-content>
    <p>
      Cada uno se hace una selfie como quiere y yo son experta en hacer selfies. Por lo que he desarrollado una forma de sacar las selfies sin utilizar las manos, yo uso el pie para hacer la foto. Las fotografías quedan genial pero parezco realmente una anormal mientras me estoy haciendo la foto.
    </p>
  </mat-card-content>
</mat-card>
